<form class="form-horizontal" role="form">
    <div class="form-group form-no-left-right-margin" ng-controller="SAPPWidgetController">
        <label class="col-sm-3 control-label ng-scope" translate="" for="org-country">Address</label>
        <div class="col-sm-9">
            <p class="form-control-static">
                {{utilService.formatAddress(contextObject)}}
            </p>
        </div>
    </div>
</form>
