<form class="form-horizontal" role="form">
    <div class="form-group form-no-left-right-margin" ng-controller="ItemListCtrl">
        <label class="col-sm-3 control-label ng-scope">{{itemListProp.listName}}</label>
            <div class="col-sm-12 standard-padding">
                <div class="gridStyle" ng-grid="getItemListGridOptions(true)">
                </div>
            </div>
    </div>
</form>
