<form class="form-horizontal" role="form">
    <div class="form-group form-no-left-right-margin" ng-controller="SAPPUserGrantsController">
        <label class="col-sm-3 control-label ng-scope" translate="" for="org-country">Explicitly granted privileges</label>
            <div class="col-sm-12 standard-padding">
                <div class="gridStyle" ng-grid="getGrantListGridOptions()">
                </div>
            </div>
    </div>
</form>
