<div ng-controller="EmployeeWorkspaceCtrl">
    <tabset class="workspace-view">
        <tab active="employeeListTabActive" select="employeeTabSelected()">
            <tab-heading>
                </i>All Employees</tab-heading>
            <div class='tab-content-pane'>
                <sui-view show-title="true" view-id="{{employeeListViewId}}" expand-full-size="true" view-title="Employee List" on-view-load="onEmployeeListViewLoaded()" hide-panel-border="false" command-list="employeeListViewCommands">

                    <div class="standard-padding">
                        <div id="employeeListGrid" class="gridStyle" ng-grid="gridOptions" ng-if="employeeList && employeeList.length > 0">
                        </div>

                        <div ng-if="!employeeList || employeeList.length === 0" class="well well-lg">
                            No Employees found!
                        </div>
                    </div>

                </sui-view>
            </div>
        </tab>
        <tab active="employee.active" ng-repeat="employee in openEmployees">
            <tab-heading>{{employee.name}}
                <a ng-click="closeEmployee(employee)" class="glyphicon glyphicon-remove-circle"></a>
            </tab-heading>
            <div class='tab-content-pane' ng-controller="EmployeeTabCtrl">

                <sui-view class="row" view-id="{{'employeeView' + employee.id}}" show-title="true" hide-panel-border="false" view-context-object="employee" command-list="employeeViewCommands" view-title="{{'Employee : ' + employee.name}}" on-view-load="employeeViewLoaded(employee)" expand-full-size="true">

                    <sui-view class="col-sm-5" show-title="true" view-title="Details" on-view-load="employeeViewLoaded(employee)" hide-panel-border="false" view-context-object="employee">
                        <sui-property-viewer enable-even-odd-marking="true" value-container-class="'col-sm-8'" label-container-class="'col-sm-4'" bean="employee" fields="['name', 'id', 'type', 'managerName', 'dob', 'sex', 'state']"></sui-property-viewer>
                    </sui-view>

                    <!-- Charts Start -->


                    <sui-view ng-show="employee.type !== 'DEVELOPER'" class="col-sm-3" show-title="true" view-title="Subordinates" hide-panel-border="false">
                        <div style="height:238px;" ng-if="subbordinateList.length > 0" ng-controller="SubbordinatesChartViewCtrl">

                            <sui-chart type="'group-bar'" data="employee" config="employeeSubbordinateChartConfig"></sui-chart>
                        
                        </div>
                        <div ng-if="subbordinateList.length === 0" style="height:238px;" class="standard-padding">
                            <div class="well well-lg standard-padding">
                                No Subbordinates found!
                            </div>
                        </div>
                    </sui-view>                    

                    <sui-view ng-show="employee.type !== 'DEVELOPER'" class="col-sm-4" show-title="true" view-title="Subordinates" hide-panel-border="false">
                        <div style="height:238px;" ng-if="subbordinateList.length > 0" ng-controller="SubbordinatesChartViewCtrl">

                            <sui-chart show-legend="true" type="'pie'" data="employee" config="employeeSubbordinateChartConfigPie"></sui-chart>

                        </div>
                        <div ng-if="subbordinateList.length === 0" style="height:238px;" class="standard-padding">
                            <div class="well well-lg standard-padding">
                                No Subbordinates found!
                            </div>
                        </div>
                    </sui-view>

                    <!-- Charts End -->

                    <sui-view ng-show="employee.type !== 'DEVELOPER'" class="col-sm-12" view-title="Subordinates" show-title="true" hide-panel-border="false" view-context-object="employee">
                        <div ng-if="subbordinateList.length > 0" ng-controller="SubbordinatesListViewCtrl" context-object="employee" ng-include="'resources/demo-app/templates/html/widgets/subordinatesView.html'">
                        </div>
                        <div ng-if="subbordinateList.length === 0" class="standard-padding">
                            <div class="well well-lg standard-padding">
                                No Subbordinates found!
                            </div>
                        </div>
                    </sui-view>

                </sui-view>
                <!-- end for row -->

            </div>
        </tab>
    </tabset>
</div>
