<div ng-controller="LongRunningWorkspaceCtrl">
    <sui-view show-title="true" view-id="longRunningDemoView" expand-full-size="true" view-title="Long running operation demo" hide-panel-border="false" command-list="lrCommands">

        <div class="padding-8">
            <p>Long running operation and web socket based messaging (server push) is implemented using <a target="_new" href="http://www.async-io.org">Atmoshpere framework (asynic-io.org)</a>
            </p>
        </div>

        <div class="padding-8">
            <p>Employee Id : <input type="text" ng-model="selectEmployeeId"></input> &nbsp;<button class="btn btn-primary" ng-click="selectEmplyee(selectEmployeeId)">Select Employee</button></p>
        </div>


        <!-- JS Tree Demo : Start -->

        <div ng-controller="JSTreeDemoController">

            <div class="padding-8">
                <p><b>Current Tree Selection : </b>{{selectedTreeItems}} </p>
            </div>

            <div style="position:relative; display:inline-block; height: 400px; width: 350px;">
                <sui-view expand-full-size="true" show-title="true" view-title="JS Tree Demo" on-view-load="" hide-panel-border="false">
                    <div on-element-init="onTreeContainerInit()" style="position:relative; height:100%; width: 100%" id="jstree-demo-main-view">
                        <div id="jstree-demo-browser-view" class="full-size scrollable" js-tree="demoTree.treeConfig" ng-model="demoTree.treeData" tree="demoTree.treeInstance" tree-events="init: initCB; load_node:loadNodeCB;loaded:loadedCB;ready:readyCB;create_node:createNodeCB; changed: changedCB">
                        </div>
                    </div>
                </sui-view>
            </div>

        </div>

        <!-- JS Tree Demo : End -->

    </sui-view>
</div>
