<div ng-controller="BeanWorkspaceCtrl">
    <tabset class="workspace-view" enable-tab-content-auto-size>
        <tab select="beanListTabSelected()" ng-if="beanListViewEnabled">
            <tab-heading>{{beanProp.beanName}} List</tab-heading>
            <div class='tab-content-pane'>
                <sui-view view-id="{{beanListViewId}}" expand-full-size="true" view-title="{{beanProp.listName}}" show-title="true" on-view-load="onBeanListViewLoaded()" hide-panel-border="false" command-list="beanListViewCommands">

                    <div class="standard-padding">
                      <input placeholder="Enter filter text..." type="text" ng-model="filterOptions.filterText" ng-if="beanList && beanList.length > 0" size="40"/>&nbsp;&nbsp;
                      <span style="float:right;" ng-repeat="cf in beanProp.customFilters" ng-if="beanProp.customFilters !== null">{{cf.label}}&nbsp;<input ng-attr-type="{{cf.inputType}}" ng-model="customFilterValues[cf.name]"/></span>
                        <div id="beanListGrid" class="gridStyle" ng-grid="beanListGridOptions" ng-if="beanList && beanList.length > 0">
                        </div>

                        <div ng-if="!beanList || beanList.length === 0" class="well well-lg">
                            No {{beanProp.listName}} found!
                        </div>
                    </div>

                </sui-view>
            </div>
        </tab>
        <tab active="bean.active" select="beanTabSelected(bean)" ng-repeat="bean in openBeans">
            <tab-heading popover="{{suiService.getObjectProperty(bean, beanProp.descFieldName)}}" popover-trigger="mouseenter" popover-placement="bottom"><i class="glyphicon glyphicon-bookmark"></i>&nbsp;<span ng-class="{'highlight-tab-updated': isUpdated(bean.pObjInfo)}">{{suiUtil.truncateLabel(suiService.getObjectProperty(bean, beanProp.descFieldName), 16)}}</span>
                <a ng-click="closeBean(bean)" class="glyphicon glyphicon-remove-circle"></a>
            </tab-heading>
            <div class='tab-content-pane row'>
                <sui-view class="row" view-id="{{'beanView' + suiService.getObjectProperty(bean, beanProp.idFieldName)}}" show-title="true" hide-panel-border="false" view-context-object="bean" command-list="beanViewCommands" view-title="{{beanProp.beanName}}: {{bean[beanProp.descFieldName]}}" on-view-load="beanViewLoaded(bean)" expand-full-size="true">
                    <div ng-if="beanProp.beanViewSplitTop" class="col-sm-8">
                        <div context-object="bean" ng-include="beanProp.beanViewTopLeft">
                        </div>
                    </div>
                    <sui-view ng-class="{'col-sm-4': beanProp.beanViewSplitTop, 'col-sm-12': !beanProp.beanViewSplitTop}" show-title="true" view-title="Details" hide-panel-border="false">
                        <sui-property-viewer enable-even-odd-marking="true" bean="bean" fields="beanProp.beanViewFields"></sui-property-viewer>
                    </sui-view>
                    <div ng-if="beanProp.beanViewExtras" ng-repeat="extraView in beanProp.beanViewExtras">
                        <div context-object="extraView.contextField ? suiService.getObjectProperty(bean, extraView.contextField) : bean" ng-include="extraView.template">
                        </div>
                    </div>
                </sui-view>
            </div>
        </tab>
        <tab ng-if="beanProp.extraTabs && (!tab.tabEnabled || (tab.tabEnabled && tab.tabEnabled()))" ng-repeat="tab in beanProp.extraTabs" active="tab.active">
	    <tab-heading>{{tab.tabHeading}}
                <a ng-if="tab.tabClose" ng-click="tab.tabClose()" class="glyphicon glyphicon-remove-circle"></a>
            </tab-heading>
            <div context-object="tab.getContextObject()" ng-include="tab.tabViewTemplate" class='tab-content-pane'>
            </div>
        </tab>
    </tabset>
</div>
