<div class='home-page-text'>
    <h2><u>Welcome To Contact Management</u></h2>
    <p>
      This is a sample application built using EAP. It is a multi-tenant
      application. Each tenant or org using the application must first register a
      namespace. Registration also creates the first user in the namespace who
      becomes the org admin for that namespace. Additional users can be created by
      an org admin.
    </p>

    <p>
      The core functionality provided by this application is management of contacts.
      Each contact has a few attributes such as name, email address, etc. One can
      view the list of contacts, search them by different attributes, create, update
      and delete contacts.
    </p>

</div>
