<div ng-controller="LongRunningTaskWorkspaceCtrl">
    <sui-view show-title="true" view-id="{{longRunningTaskListViewId}}" expand-full-size="true" view-title="Background Tasks" on-view-load="onLongRunningTaskListViewLoaded()" hide-panel-border="false" command-list="longRunningTaskListViewCommands">
        <div class="standard-padding">
            <div id="longRunningTaskListGrid" class="gridStyle" ng-grid="longRunningTaskListGridOptions" ng-if="longRunningTaskList && longRunningTaskList.length > 0">
            </div>

            <div ng-if="!longRunningTaskList || longRunningTaskList.length === 0" class="well well-lg">
                No background tasks found!
            </div>
        </div>
    </sui-view>
</div>
