<div ng-controller="ResourcesWorkspaceCtrl">
    <sui-view show-title="true" view-id="{{resourcesListViewId}}" expand-full-size="true" view-title="Resources List" on-view-load="onResourcesListViewLoaded()" hide-panel-border="false" command-list="resourcesListViewCommands">
        <div class="standard-padding">
            <ng-include src="'resources/sui/templates/html/resourceListView.html'"></ng-include>
        </div>
    </sui-view>
</div>
