/** Bootstrap OVERRIDE : HACK: TODO: Check back later. 
    this hackis done to reduce the height gap between rows forms **/

sui-property-viewer .form-group {
  margin-bottom: 0px !important;
}

/********* Imported Fonts **********/
.busy-progress-generic-icon-small {
  height:20px;
  width:20px;
}
.home-logo {
	padding-left: 40px;
	padding-top: 20px;
}
.home-logo-text {
	color: white;
	font-family: calibribold;
    font-size: 40px;
    vertical-align: middle;
    padding-left: 15px;
}
.login-container {
	background:rgba(0, 0, 0); 
	height: 100%;
	padding-top: 40px;
	padding-left: 55px;
	min-width: 450px;
  margin-top:20px;
}
.login-left {
  float:left;
  width: 50%;    
}
.login-text-white {
	color: white;
}
.login {
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Courier New';
	font-weight: bold;
	font-variant: small-caps;
	color: green;
}

.error {
	font-size: small;
	color: red;
}

.login-input-column {
	display: inline;
	float: left;
	width: 300px;
}

.login-label-column {
	padding-top: 8px;
	display: inline;
	height: 34px;
	float: left;
	width: 100px;
	margin-left: 0;
}

.login-btn-container {
	width: 386px;
	padding-left: 84px;
}

.login-margin-right-zero {
  margin-right: 0px !important;
}    

.beta-message {
  color: white;
  background: #9B2B2A;
  padding:10px;
}

.register-message {
  margin-bottom: 20px;
  display: inline-block;      
}

.register-form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.login-info-container {
  width: 50%;
  float:right;
  background:rgba(0, 0, 0);  
  color:white;
  padding-top:90px;
  padding-left:20px;
  padding-right:30px;
}

.login-info-title {
  font-size: 28px;
  text-align: center;
  font-family: gloria_hallelujahregular;
  padding-bottom:10px;
}

.login-info-body {
  padding-bottom:20px;
}

.login-info-header {
  font-family:calibriregular;
}

.oauth {
	display: inline;
	float: right;
}

.contacts-info {
  padding-top: 50px;
}

.body-login {
  background:rgba(0, 0, 0, 1); 
}

.home-page-text {      
  padding: 30px;      
  color: inherit;
  background-color: #fff;
  height:100%;
  overflow:auto;
}   

.workspace-text {
  background-color: #fff;
}

.cell-green {
  background-color: green;
  color: white;
}

.cell-orange {
  background-color: #FF6600;
  color: white;
}

.chartViewTitle {
  font-weight: bold;
  /*text-decoration:underline;*/
}
