<sui-view class="row" view-id="{{'editBeanView' + suiService.getObjectProperty(bean, beanProp.idFieldName)}}" show-title="false" hide-panel-border="true" view-context-object="bean">
    <sui-editor-dialog dialog-title="(suiService.getObjectProperty(bean, beanProp.idFieldName) === -1 ? 'New ' : 'Edit ') + beanProp.beanName + ' : ' + suiService.getObjectProperty(bean, beanProp.descFieldName)" dialog-ok-handler="ok()" dialog-cancel-handler="cancel()" dialog-reset-handler="reset()" dialog-command-name="updateBeanInternal">
        <ng-include src="beanProp.beanEditForm"></ng-include>
    </sui-editor-dialog>
</sui-view>
