<sui-view class="row" view-id="editObjectPriv" show-title="false" hide-panel-border="true" view-context-object="objectPrivFacade">
    <sui-editor-dialog dialog-title="'Manage Explicit Privileges: ' + objectName + ', Id: ' + objectPrivFacade.id" dialog-ok-handler="ok()" dialog-cancel-handler="cancel()" dialog-reset-handler="reset()" dialog-command-name="objectPrivInternal">
        <ng-include context-object="objectPrivFacade" src="'resources/app/templates/html/forms/objectPrivForm.html'"></ng-include>
    </sui-editor-dialog>
</sui-view>
