<sui-view class="row" view-id="registerView" show-title="false" hide-panel-border="true" view-context-object="regInfo">
    <sui-editor-dialog dialog-title="'New namespace: ' + regInfo.namespace" dialog-ok-handler="ok()" dialog-cancel-handler="cancel()" dialog-reset-handler="reset()"  dialog-command-name="register">
        <ng-include src="'resources/app/templates/html/forms/registerForm.html'"></ng-include>
    </sui-editor-dialog>
</sui-view>
