<a>
    <div class="pull-right padding-l-4">
        <span ng-if="cmdObject.showCaret" class="caret">
        </span>
    </div>

    <div ng-if="!regularItem && cmdObject.title && cmdObject.title.trim().length > 0" ng-class="{'pull-right padding-l-4': cmdObject.iconLocation === suiService.COMMAND_ICON_LOCATION_LEFT, 'pull-right full-size': cmdObject.iconLocation === suiService.COMMAND_ICON_LOCATION_TOP}">
        <div ng-if="cmdObject.iconLocation === suiService.COMMAND_ICON_LOCATION_TOP">&nbsp;</div>
        <div>
            {{cmdObject.title}}
        </div>
    </div>

    <div class="display-inline-block" ng-class="{'pull-left' : cmdObject.iconLocation === suiService.COMMAND_ICON_LOCATION_LEFT, 'full-size': cmdObject.iconLocation === suiService.COMMAND_ICON_LOCATION_TOP}">
        <div ng-if="cmdObject.icon">
            <img ng-class="cmdObject.iconStyleClass ? cmdObject.iconStyleClass : 'header-command-icon'" ng-src="{{cmdObject.icon ? cmdObject.icon : null}}"></img>
        </div>
        <div ng-if="cmdObject.iconClass">
            <i ng-class="cmdObject.iconClass"></i>
        </div>
    </div>

    <div ng-if="regularItem && cmdObject.title && cmdObject.title.trim().length > 0" class="pull-left padding-l-4">
        <div>
            {{cmdObject.title}}
        </div>
    </div>    
</a>
