<div ng-if="showHeader" class="modal-header" ng-class="dialogHeaderClass">
    <h4 class="modal-title" ng-class="dialogHeaderTitleClass">{{dialogTitle}}</h4>
</div>

<div ng-if="showErrorMessages" ng-repeat="e in $parent.command[dialogCommandName].errors" class="error" style="padding-top:10px; padding-left: 16px">
    <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; {{e}}
</div>

<div ng-if="showCustomMessages" ng-repeat="message in customMessages" class="small-font text-{{message.type}}" style="padding-top:10px; padding-left: 16px">
    <span ng-class="message.icon"></span>&nbsp; {{message.message}}
</div>

<div class="modal-body sui-editor-modal-body" ng-class="dialogBodyClass" ng-keypress="$event.keyCode == 13 && onEnterKeyPress($event)">
    <div ng-transclude></div>
</div>

<div class="modal-footer sui-editor-modal-footer" ng-class="dialogFooterClass">
    <span class="sui-editor-dialog-extra-button-container" ng-repeat="extraButton in dialogExtraButtons">
        <button ng-click="handleExtraButtonClick(extraButton)" ng-class="getExtraButtonClass(extraButton)">
            {{extraButton.title}}
        </button>
    </span>
    <button class="btn btn-primary" ng-click="ok()">{{okTitle}}</button>
    <button class="btn btn-warning" ng-click="cancel()">{{cancelTitle}}</button>
    &nbsp;
    <a ng-click="reset()">{{resetTitle}}</a>
</div>
