<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="main-navbar-collapse">
                <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
                    <div ng-repeat="navLocation in suiService.getHeaderItemLocations()">
                        <div ng-repeat="headerItem in suiService.getHeaderItems(navLocation.position, navLocation.reverseOrder)">
                            <div ng-switch="headerItem.type">
                                <div ng-switch-when="widget">
                                    <ul ng-class="'nav navbar-nav {{navLocation.class}}'">
                                        <li suifwk-compile="headerItem.renderFN()">
                                        </li>
                                    </ul>
                                </div>
                                <div ng-switch-when="menu">
                                    <ul ng-class="'nav navbar-nav {{navLocation.class}}'">
                                        <li class="dropdown" dropdown>
                                            <a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">
                                                <img ng-show="headerItem.icon" class="header-command-icon" ng-src="{{headerItem.icon ? headerItem.icon : null}}"></img>
                                                <p ng-show="headerItem.iconClass" ng-class="headerItem.iconClass"></p>
                                                {{headerItem.title}} <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu" dropdown-menu>
                                                <li ng-init="cmdObj = suiService.getCommand(cmd)" ng-class="{'divider' : cmd === suiService.MENU_SEPARATOR, 'dropdown-toggle' : cmdObj.enabled, 'disabled':!cmdObj.enabled}" ng-repeat="cmd in headerItem.commandList">
                                                    <a ng-class="{'disable-link':!cmdObj.enabled}" ng-click='suiService.executeCommand(cmd, null, {event:$event})'>
                                                        <img ng-show="cmdObj.icon" class="header-command-icon" ng-src="{{cmdObj.icon ? cmdObj.icon : null}}"></img>
                                                        <p ng-show="cmdObj.iconClass" ng-class="cmdObj.iconClass"></p>
                                                        <p ng-show="!cmdObj.icon && !cmdObj.iconClass" class="glyphicon glyphicon-none"></p>
                                                        {{cmdObj.title}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="suiService.getApplicationContext().showSecondaryHeader" class="ng-hide">
                    <div class="collapse navbar-collapse" id="main-navbar-collapse-2">
                        <div ng-repeat="navLocation in suiService.getHeaderItemLocations()">
                            <div ng-repeat="headerItem in suiService.getHeaderItems(navLocation.position, navLocation.reverseOrder, true)">
                                <div ng-switch="headerItem.type">
                                    <div ng-switch-when="widget">
                                        <ul ng-class="'nav navbar-nav {{navLocation.class}}'">
                                            <li suifwk-compile="headerItem.renderFN()">
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-switch-when="menu">
                                        <ul ng-class="'nav navbar-nav {{navLocation.class}}'">
                                            <li class="dropdown" dropdown>
                                                <a href="#" class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">
                                                    <img ng-show="headerItem.icon" class="header-command-icon" ng-src="{{headerItem.icon ? headerItem.icon : null}}"></img>
                                                    <p ng-show="headerItem.iconClass" ng-class="headerItem.iconClass"></p>
                                                    {{headerItem.title}} <b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu" dropdown-menu>
                                                    <li ng-init="cmdObj = suiService.getCommand(cmd)" ng-class="{'divider' : cmd === suiService.MENU_SEPARATOR, 'dropdown-toggle' : cmdObj.enabled, 'disabled':!cmdObj.enabled}" ng-repeat="cmd in headerItem.commandList">
                                                        <a ng-class="{'disable-link':!cmdObj.enabled}" ng-click='suiService.executeCommand(cmd, null, {event: $event})'>
                                                            <img ng-show="cmdObj.icon" class="header-command-icon" ng-src="{{cmdObj.icon ? cmdObj.icon : null}}"></img>
                                                            <p ng-show="cmdObj.iconClass" ng-class="cmdObj.iconClass"></p>
                                                            <p ng-show="!cmdObj.icon && !cmdObj.iconClass" class="glyphicon glyphicon-none"></p>
                                                            {{cmdObj.title}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>