<form class="form-horizontal" role="form">
    <div class="sui-property-viewer-item" ng-class-even="fieldContainerEvenOverride" ng-class-odd="fieldContainerOddOverride" ng-repeat="field in fieldsToDisplay">
        <div ng-class="fieldContainerOverride" class="form-group form-no-left-right-margin sui-property-field-container">
            <label ng-class="labelContainerOverride" class="control-label ng-scope">{{parentScope.formatPropertyName ? parentScope.formatPropertyName(field) : field}}</label>
            <div ng-class="valueContainerOverride">
                <p class="form-control-static">{{parentScope.formatPropertyValue ? parentScope.formatPropertyValue(field, bean, suiService.getObjectProperty(bean, field)) : suiService.getObjectProperty(bean, field)}}</p>
            </div>
        </div>
    </div>
</form>
