<div class="form-group form-no-left-right-margin" ng-class="containerClass">    
    <label ng-class="labelClass + ' control-label'" translate="" for="{{itemName}}">{{itemLabel}}</label>
    <div ng-class="controlClass" ng-switch="type">

        <p ng-switch-when="static" class="form-control-static">{{internalDataModel.dataItem}}</p>
        <textarea rows="2" ng-required="itemRequired" set-name="itemName" ng-switch-when="textarea" class="form-control ng-pristine ng-valid" ng-model="internalDataModel.dataItem" ng-options="{{itemOptions}}" placeholder="{{prompt}}"></textarea>

        <select ng-required="itemRequired" set-name="itemName" ng-switch-when="select" type="text" class="form-control ng-pristine ng-valid" ng-model="internalDataModel.dataItem" ng-options="{{itemOptions}}"></select>

        <input auto-focus="{{itemAutoFocus}}" ng-attr-name="{{itemName}}" ng-readonly="itemReadonly" ng-required="itemRequired" ng-switch-default type="{{type}}" ng-class="{'form-control': type !== 'checkbox'}" class="ng-pristine ng-valid" ng-model="internalDataModel.dataItem" ng-options="{{itemOptions}}" placeholder="{{prompt}}"></input>{{itemSubText ? ('&nbsp;&nbsp;' + itemSubText) : ''}}
        <div class="sui-form-item-error-container " style="display:none">
            <i class="text-danger glyphicon glyphicon-exclamation-sign"></i>&nbsp;<span class="text-danger"></span>
        </div>        
    </div>
    <div ng-transclude></div>
</div>
