<div ng-class="{'panel panel-default sui-panel {{viewContainerClassOverride}}': !hidePanelBorder, 'sui-panel sui-panel-no-border {{viewContainerClassOverride}}': hidePanelBorder}" ng-style="expandFullSize ? {height: '100%', width: '100%', margin: '0px'} : {}">
    <busy-modal-dialog ng-show="showBusy" can-cancel-action="canCancelAction" wait-message="waitMessage" busy-modal-button-click="busyModalButtonClick(buttonId)" show-progress-percent="showProgressPercent" progress-percent="progressPercent">
    </busy-modal-dialog>
    <div ng-show="showTitle" class="panel-heading sui-view-panel-heading" ng-style="expandFullSize ? {position:'absolute', width: '100%', 'text-align' : _titleAlign} : {'text-align' : _titleAlign}" popover="{{viewTooltip}}" popover-trigger="mouseenter" popover-placement="bottom">
        <strong><div style='display:inline-block' ng-class="viewTitleClass">{{viewTitle}}</div></strong>
        <div class="pull-right" style="display:inline-block; height:16px;">
            <div ng-init="cmdObj = getCommand(cmd, UVID)" style="display:inline;" ng-repeat="cmd in commandList">
                <sui-command-item cmd-object="cmdObj" container-scope="containerScope" is-enabled="isCommandEnabled(cmdName)" execute="executeCommand(cmdName, isShowBusy)"></sui-command-item>
            </div>
        </div>
    </div>

    <div class="panel-body sui-view-panel-body" ng-style="expandFullSize ? {'padding-top': !showTitle ? '0px': '34px', height: '100%', width: '100%'} : {}">
        <div ng-style="expandFullSize ? {height: '100%', width: '100%', overflow:'auto', padding: hidePanelBorder ? '0px': '0px'} : {}" ng-transclude></div>
    </div>

</div>
