<div class="login-left ng-scope" ng-controller="SUIApplicationAuthenticationController">
    <div class="home-logo">
        <img src="resources/app/images/contacts-logo.png">
        <h1 class="login-text-white">Contact Management</h1>
    </div>

    <div class="login-container">
        <form role="form" class="form-horizontal  ng-pristine ng-invalid ng-invalid-required">
            <div class="form-group login-margin-right-zero" ng-class="{'has-error': error}">
                <label class="login-label-column login-text-white ng-scope" translate="" for="username">Username</label>
                <div class="login-input-column">
                    <input auto-focus autoFocus="true" type="text" class="form-control ng-pristine ng-valid" name="username" id="username" ng-model="userPrincipal.username" placeholder="Enter username">
                </div>
            </div>
            <div class="form-group login-margin-right-zero" ng-class="{'has-error': error}">
                <label class="login-label-column login-text-white ng-scope" translate="" for="password">Password</label>
                <div class="login-input-column">
                    <input ng-keyup="$event.keyCode == 13 ? login() : null" type="password" class="form-control ng-pristine ng-valid" name="password" id="password" placeholder="Enter password" ng-model="userPrincipal.password" autocomplete="off">
                </div>
            </div>
            <div class="form-group login-margin-right-zero" ng-class="{'has-error': error}">
                <label class="login-label-column login-text-white ng-scope" translate="" for="namespace">Namespace</label>
                <div class="login-input-column">
                    <input ng-keyup="$event.keyCode == 13 ? login() : null" class="form-control ng-pristine ng-valid" name="namespace" id="namespace" placeholder="Enter namespace" ng-model="userPrincipal.namespace">
                </div>
            </div>
            <div ng-repeat="e in command['login'].errors" class="error" style="margin-top: -10px; margin-bottom:   10px; padding-left: 83px">
                <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; {{e}}
            </div>
            <div class="login-btn-container">
                <button translate="" type="submit" name="login" class="btn btn-primary ng-scope" ng-click="suiService.executeCommand('login', null, {event:$event, prompt:'Logging In...'})">Login</button>

		&nbsp;

               	<button popover="Register a new namespace and user" popover-trigger="mouseenter" popover-placement="right" ng-controller="RegisterCtrl" translate="" type="button" name="register" class="btn btn-primary ng-scope" ng-click="launchRegister()">Register</button>
            </div>
        </form>
    </div>
</div>
