<div ng-controller="RegisterCtrl">
  <div class="home-logo">
    <img src="resources/app/images/contacts-logo.png">
    <h1 class="login-text-white">Welcome {{username}}</h1>
  </div>
  <br/>
  <button ng-controller="RegisterCtrl" name="logout" class='btn btn-primary ng-scope' ng-click='logout()'>Logout</a>
</div>
