<div ng-controller="SAPPAddressController">
    <accordion>
        <accordion-group is-open="addressGroup.open">
            <accordion-heading>
                Address <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': addressGroup.open, 'glyphicon-chevron-right': !addressGroup.open}"></i>
            </accordion-heading>
            <p/>
            <ng-form name="addressForm">

                <sui-form-item item-label="Address Line1" item-data-model="contextObject.address.line1" item-name="address-line1" item-type="text"></sui-form-item>

                <sui-form-item item-label="Address Line2" item-data-model="contextObject.address.line2" item-name="address-line2" item-type="text"></sui-form-item>

                <sui-form-item item-label="Address line3" item-data-model="contextObject.address.line3" item-name="address-line3" item-type="text"></sui-form-item>

                <sui-form-item item-label="Address city" item-data-model="contextObject.address.city" item-name="address-city" item-type="text"></sui-form-item>

                <sui-form-item item-label="Address country" item-data-model="contextObject.address.country" item-name="address-country" item-type="text"></sui-form-item>

                <sui-form-item item-label="Address zipcode" item-data-model="contextObject.address.zipcode" item-name="address-zipcode" item-type="number"></sui-form-item>

            </ng-form>
        </accordion-group>
    </accordion>
</div>
