<form novalidate="novalidate" name="form.edit" class="form-horizontal" auto-validate role="form" style="padding-top:5px;">
    <sui-form-item item-label="Prefix" item-auto-focus=true item-required=true item-data-model="bean.prefix" item-name="contact-prefix" item-type="select" item-options="type.name as type.value for type in utilService.prefixTypes"></sui-form-item>
    <sui-form-item item-label="First Name" item-data-model="bean.firstName" item-name="contact-firstName" item-type="text"></sui-form-item>
    <sui-form-item item-label="Middle Name" item-data-model="bean.middleName" item-name="contact-middleName" item-type="text"></sui-form-item>
    <sui-form-item item-label="Last Name" item-data-model="bean.lastName" item-name="contact-lastName" item-type="text"></sui-form-item>
    <sui-form-item item-label="Email" item-data-model="bean.email" item-name="contact-email" item-type="email"></sui-form-item>
    <sui-form-item item-control-class="'col-sm-7'" item-label="Notes" item-data-model="bean.notes" item-name="contact-notes" item-type="text"></sui-form-item>

    <ng-include context-object="bean" src="'resources/app/templates/html/forms/addressForm.html'"></ng-include>

    <ng-include context-object="bean" src="'resources/app/templates/html/forms/phoneNumberForm.html'"></ng-include>

</form>
