<div ng-controller="ItemListCtrl">
    <accordion>
        <accordion-group is-open="itemListProp.open">
            <accordion-heading>
                {{itemListProp.listName}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': itemListProp.open, 'glyphicon-chevron-right': !itemListProp.open}"></i>
            </accordion-heading>
            <p/>
            <div class="col-sm-12">
                <div class="form-group form-no-left-right-margin">
                    <div class="pull-right" style='padding-right:8px'>
                        <button class="btn btn-primary btn-xs" ng-click="addNewItem()" ng-if="itemListProp.allowAdd"><i class="glyphicon glyphicon-plus"></i>
                        </button>
                        <button class="btn btn-primary btn-xs" ng-click="removeItem()" ng-if="itemListProp.allowRemove"><i class="glyphicon glyphicon-minus"></i>
                        </button>
                    </div>
                    <div class="col-sm-12 standard-padding">
                        <div class="gridStyle" ng-grid="getItemListGridOptions(false)">
                        </div>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>
