<sui-form form-name="orgForm">
    <sui-form-item item-auto-focus=true item-label="Name" item-data-model="bean.name" item-name="name" item-type="text" item-required=true>
    </sui-form-item>

    <ng-include context-object="bean" src="'resources/app/templates/html/forms/addressForm.html'"></ng-include>

    <ng-include context-object="bean" src="'resources/app/templates/html/forms/phoneNumberForm.html'"></ng-include>
</sui-form>
