<sui-form form-name="registerForm">
    <sui-form-item item-auto-focus=true item-label="Namespace" item-data-model="regInfo.namespace" item-name="namespace" item-type="text" item-required=true>
    </sui-form-item>

    <sui-form-item item-label="Username" item-data-model="regInfo.userName" item-name="userName" item-type="text" item-required=true>
    </sui-form-item>

    <sui-form-item item-label="Password" item-data-model="regInfo.password" item-name="password" item-type="password" item-required=true>
    </sui-form-item>

    <sui-form-item item-label="Reconfirm password" item-data-model="regInfo.reconfirm" item-name="reconfirm" item-type="password" item-required=true>
    </sui-form-item>

    <sui-form-item item-label="Email address" item-data-model="regInfo.email" item-name="email" item-type="email" item-required=true>
    </sui-form-item>
</sui-form>
