<div ng-controller="PolicyWorkspaceCtrl">
    <sui-view show-title="true" view-id="{{policyListViewId}}" expand-full-size="true" view-title="Policy List" on-view-load="onPolicyListViewLoaded()" hide-panel-border="false" command-list="policyListViewCommands">
        <p>
              The following table shows the currently available policies, and
              whether they are enabled for your company.

              Each policy allows certain types of users access to certain
              objects. For example, ORG_READ allows a user with EMPLOYEE role to
              read all information that belongs to his/her company. But a policy
              doesn't prevent a different policy from granting access. To go back
              to the earlier example, an employee can have an explicitly granted
              permission to update some information, which is allowed by the
              EXPLICIT_GRANT policy (but not by the ORG_READ policy). Thus, all
              the enabled policies collectively determine a user's access to
              information.
            </p>

            <p>
              If you have the ORG_ADMIN role, you can selectively enable or
              disable some policies for your company (provided they allow org level
              control). The changes don't affect currently logged-in users. They
          take effect on subsequent logins.
            </p>

            <p>
              Finally note that most policies rely on roles that are assigned to
              a user. You can see and change the roles assigned on the Users tab.
            </p>

        <div class="standard-padding">                      
            <div id="policyListGrid" class="gridStyle" ng-grid="policyListGridOptions" ng-if="policyList && policyList.length > 0">
            </div>
            <div ng-if="!policyList || policyList.length === 0" class="well well-lg">
                No policies found!
            </div>
        </div>
    </sui-view>
</div>
