<sui-form form-name="userForm">

    <sui-form-item item-required=true item-auto-focus=true item-label="User name" item-data-model="bean.user.userName" item-name="user-userName" item-type="text"></sui-form-item>
    <sui-form-item item-label="User password" item-data-model="bean.user.password" item-name="user-password" item-type="password"></sui-form-item>
    <sui-form-item item-label="Prefix" item-data-model="bean.user.prefix" item-name="user-prefix" item-type="select" item-options="type.name as type.value for type in utilService.prefixTypes"></sui-form-item>
    <sui-form-item item-label="User firstName" item-data-model="bean.user.firstName" item-name="user-firstName" item-type="text"></sui-form-item>
    <sui-form-item item-label="User middleName" item-data-model="bean.user.middleName" item-name="user-middleName" item-type="text"></sui-form-item>
    <sui-form-item item-label="User lastName" item-data-model="bean.user.lastName" item-name="user-lastName" item-type="text"></sui-form-item>
    <sui-form-item item-label="User email" item-data-model="bean.user.email" item-name="user-email" item-type="email"></sui-form-item>

    <ng-include context-object="bean.user" src="'resources/app/templates/html/forms/addressForm.html'"></ng-include>

    <ng-include context-object="bean.user" src="'resources/app/templates/html/forms/phoneNumberForm.html'"></ng-include>
    <ng-include context-object="bean" src="'resources/app/templates/html/forms/rolesForm.html'"></ng-include>

</sui-form>
