<!doctype html>
<html lang="en" ng-app="SUIApplication" ng-cloak class="ng-cloak">

<head>

<!--
	<base id="applicationHTMLBase" />
	<script>
		document.getElementById("applicationHTMLBase").href = '/'+window.location.pathname.substring(1).split('/')[0] + '/';
		alert(document.getElementById("applicationHTMLBase").href);
	</script>
-->

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title ng-controller="SUIApplicationAuthenticationController">{{suiService.getApplicationContext() != null ? suiService.getApplicationContext().title : "<NO_NAME>"}}</title>

	<link rel="stylesheet" href="web-library/css/bootstrap.css">

	<link rel="stylesheet" href="resources/sui/css/sui.css">
	<link rel="stylesheet" href="resources/app/css/application.css">
	<link rel="stylesheet" href="web-library/css/ng-grid.css">

	<style>
		.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
	</style>

</head>

<body class="body-login" ng-controller="SUIApplicationAuthenticationController">

	<busy-modal-dialog ng-show="showBusy" can-cancel-action="canCancelAction" wait-message="waitMessage" busy-modal-button-click="busyModalButtonClick(buttonId)">
	</busy-modal-dialog>

	<!-- Main Login View -->
	<div id='main-login-view' ng-include="appLoginView" class="ng-scope"></div>


	<!-- TP JS libraries -->
	<script src="web-library/js/jquery-2.1.1.js"></script>
	<script src="web-library/js/angular.js"></script>
	<script src="web-library/js/angular-resource.js"></script>
	<script src="web-library/js/angular-route.js"></script>
	<script src="web-library/js/angular-sanitize.js"></script>
<!--
	<script src="web-library/js/bootstrap.js"></script>
-->
	<script src="web-library/js/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="web-library/js/ng-grid-2.0.11.js"></script>
    <script src="web-library/js/jstree.js"></script>
    <script src="web-library/js/ngJsTree.js"></script>
	
	<!-- Resource bundles -->
	<script src="resources/sui/bundle/SUIResourceBundle_en.js"></script>

	<!-- The basic File Upload plugin -->
	<script src="web-library/js/jquery.fileupload-angular.js"></script>

	<!-- SUI JS Libraries -->
	<script src="resources/sui/js/sui.js"></script>
	<script src="resources/sui/js/services.js"></script>
	<script src="resources/sui/js/charting_service.js"></script>
	<script src="resources/sui/js/controllers.js"></script>
	<script src="resources/sui/js/filters.js"></script>
	<script src="resources/sui/js/directives.js"></script>

	<!-- Application JS Libraries -->
	<script src="resources/app/js/application.js"></script>
	<script src="resources/app/js/services.js"></script>
	<script src="resources/app/js/controllers.js"></script>
	<script src="resources/app/js/filters.js"></script>
	<script src="resources/app/js/directives.js"></script>

</body>

</html>
